<div id="go-back-div">
    <a id="go-back" href="/">Back to Table of Contents</a>
</div>

<div class="week-container">
    <h1 class="week-header">Week Eight Reflection</h1>
    <h2 id="date">10/23/21</h2>

    <h2>Site Analysis</h2>
    <p>OPTION 1: Using your own field notes from our class trip as your guide, compare your in-person visit to Polar World and/or the Alcoa Hall of the American Indian at 
        the Carnegie Museum to your virtual visit of the U'Mista Cultural Center.</p>

    <p>
        When I visited Polar World, my group and I walked around the section of the Alcoa Hall of the American Indian dedicated to the “Lakota.” At the time, it was a cool experience
        to see different artifacts from people that I hadn't really heard much about before. In my group of two other fellow colleagues, we discussed certain things about the exhibit
        that we thought were lacking, and maybe even problematic. One thing that struck me as odd about the exhibit was that there wasn't always clear information about some of the
        artifacts. For instance, we saw a spoon that sat in one of the glass cases, and the label simply read "1700?". These artifacts were all taken out of the original context 
        of the people that used them, and many of the creators of the artifacts were unknown and unrecognized.
    </p>

    <p>
        Contrasted with my experience at the Alcoa Hall of the American Indian, the U'Mista Cultural Center was a much different experience. I visited a digital tour 
        <a href="https://umistapotlatch.ca/visite_virtuelle_intro-virtual_tour_intro-eng.php">here</a>. The exhibits were a lot more organized, and the information about the artifacts
        was more clear. For instance, there was one mask that I thought was very fascinating. It is called "maxinuxw", which means side by side tribe. The mask is modeled after a killer
        whale (which travel in groups). All of this information was provided by the museum website. In the description of the mask, it explains a lot about the meaning behind the mask.
        I couldn't help but imagine this same particular item being in the Carnegie Museum. I believe the label would be far less descriptive, and ultimately, I wouldn't understand
        the meaning behind what I see. Most of the artifacts that I looked at during my virtual tour of the U'Mista Cultural Centerlisted the owner of the artifacts, and sometimes even 
        the maker(s). The way that the museum acknowledges the ownership of the artifacts and the original context of the items is more informative to me as a visitor.
    </p>
    <figure>
        <img style="width: 30rem;" src="https://s3.amazonaws.com/synthescape-umistapotlatch/objets-objects/02.05.008/images/a_0_14_125_0_0.jpg" alt="Maxinuxw mask" />
        <figcaption>Maxinuxw mask</figcaption>
    </figure>
</div>