<div id="go-back-div">
    <a id="go-back" href="/">Back to Table of Contents</a>
</div>

<div class="week-container">
    <h1 class="week-header">Week Eleven Reflection</h1>
    <h2 id="date">11/20/21</h2>

    <h2>SLOW LOOKING and REFLECTION</h2>
    <p>For this artifact, I chose to look through the online collection of the NMAAHC, and I selected a picture that instantly drew my curiosity.</p>
    <figure>
        <img style="width: 40rem;" src="../../../assets/week11.png" alt="NMAAHC" />
        <figcaption>A Boy in Front of the Loews 125th Street Movie Theater</figcaption>
    </figure>

    <p>
        The first thing that I noticed in the picture is the pose of the boy in the frame. He stands there, very relaxed and cool. The photographer is Dawoud Bey, born in 1953 in 
        Queens. In fact, he is still a photographer today. The boy in the shot was Damon Mitchell, born in 1976 and died in the 1990s. I tried to look in the back to see what 
        movies were playing to guess what he was seeing, but I couldn't find the list of movies. I did see that students were heavily advertised to and got cheaper tickets,
        which made me wonder if that's what he was there doing. The shot partially made me think of myself. I used to work at a movie theater, and I love movie theaters in 
        general. For me, it's a really fun thing to do, and it seems like this boy, standing outside this theater, is having fun. The one thing that I was curious about the most 
        that wasn't present in the information online, what happened to the boy? I did some external research, and I found a nice essay <a href="https://www.skny.com/attachment/en/56d5695ecfaf342a038b4568/Press/5e10ddef85d7504537746f09">here</a> that states what happened to the boy. 
        He died of leukemia in the 1990s at the age of 26. Bey stated that their encounter that day lasted "no more than 5 minutes", yet in that time, he created an enternal 
        memory of Damon Mitchell. In this picture, he stands there, relaxed and cool, holding grape juice in his hand, and sporting some very cool shades.
    </p>
</div>