<div class="week-container">
    <h1 class="week-header">Week Four Reflection</h1>
    <h2 id="date">9/25/21</h2>
    <p>
        Use the letters by Barnham and his critic as well as this <a href="https://www.youtube.com/watch?v=Qx_r-dP22Ps&t=207s&ab_channel=Vox">Vox video on “Instagramability”/Instagram “traps”
             in museums</a> to guide your reflection on the distinction between “elite” and “popular” museums. What did that 
             distinction look like in the past? Does it still exist today? How do consumerism and social media shape museums? How might your experience change 
             without these factors in place? Do some sleuthing and see if you can find examples of institutions that you would categorize as “serious culture” and 
             some you would categorize as “popular entertainment” and comment on why you categorized the institutions you found as such.   (You need not answer each
              of the questions above.  Use them as a starting point for your own ideas and commentary.)
    </p>

    <p>I found the video to be pretty interesting and thought-provoking about the distinction between elite and popular museums. Previously, I hadn't really 
        entertained the notion that elite museums and popular museums aren't necessarily the same thing. But it certainly makes sense. I think the reason that museums
        are shifting to interactive art is because of how culture has changed in the last twenty-something years (granted, I have only existed since 1999). When Charles
        Peale founded one of the first museums in America, he used the museum to display his wealth as well as how "cultured" he is. In this museum, people would stroll
        around the building and admire pieces of art. It was very much an opportunity to just watch and observe what other people do. Essentially, the art is the 
        entertainment of the building. However, I think the invention of social media has flipped the script on what entertainment actually is. With social media, people
        are given a platform to "perform" freely. We can post any picture we want, tell everybody everything about our lives, and essentially entertain the people around 
        us, even without <i>actually</i> being with these people. </p>
    <p>
        This situation of constantly performing for your online persona has created the desire for people to perform even more radically. This helped to create museums that 
        survive by being trendy. Now, when we visit interactive museums, <i>we</i> can be the art, and the things around us can help us embody who we want to display 
        ourselves as. For example, the video talked about how one museum had a ball pit room, and people would frequently go into these ball pits and take pictures 
        for their social media. This need to portray ourselves as fun, colorful, and happy all the time gives rise to popular museums. This isn't necessarily a bad
        thing at all. It is not fair to puppyguard what is and is not a museum. As technology has changed people and society overtime, it's only fitting that museums
        change in response to it.  
    </p>
    <p>
        I believe that there is a spectrum in terms of whether a museum is serious culture vs popular entertainment. While I don't necessarily agree that any museums
        exist on either end, I believe some are more radically different. For example, the Carnegie Art Museum is conceivably more serious than the trendy museums shown
        in the video. That doesn't degrade the Carnegie Art Museum (or any serious museum), and it doesn't take away from any trendy museum. 
    </p>
</div>
