<div id="go-back-div">
    <a id="go-back" href="/">Back to Table of Contents</a>
</div>

<div class="week-container">
    <h1 class="week-header">Week Ten Reflection</h1>
    <h2 id="date">11/13/21</h2>

    <h2>CREATIVE WORK, ANALYSIS AND ASSOCIATION</h2>
    
    <p>
        For part one of this artifact, I took a look at <a href="https://americanindian.si.edu/americans/">the Americans exhibit</a> at the NMAI and the 
        <a href="https://umistapotlatch.ca/intro-eng.php">U'mista Cultural Center’s “Living Tradition"</a>. There's a lot of interesting things about both
        of these museums, and there's several similarities between them. I believe the audience for both of the museums could be people that have a cultural 
        attachment to the civilizations represented in the museums AND people that have an open-mind and want to learn more about cultures that may be unlike 
        their own culture. 
    </p>
    <figure>
        <img src="https://th.bing.com/th/id/OIP.abC8NEA_fGxqQi61zfwBlgHaFj?pid=ImgDet&rs=1" alt="NMAI building">
        <figcaption>NMAI Building</figcaption>
    </figure>
    <figure>
        <img src="https://th.bing.com/th/id/OIP.XBcVY8kXmj0G_UbJCM3w9AHaEn?pid=ImgDet&rs=1" alt="U'mista Cultural Center">
        <figcaption>U'mista Cultural Center</figcaption>
    </figure>
    <p>
        Architecturally, the buildings are <i>very</i> different. The National Museum of American Indians is a very massive and modern building. The building is 
        very inspired by Native American architecture, and the setting around it is also very inspired. The U'mista Cultural Center is not nearly as big of a building,
        but it is also inspired by the culture of the people who created the artifacts within it. The totem poles that sit outside the building are reminiscent of
        many of the artifacts that you'll see in the museum.
    </p>
    <p>
        One major difference between the two online exhibits is the information that is presented to the audience. The NMAI exhibit is more focused on displaying objects.
        The online exhibit was very interactive, but once you clicked on different objects around the exhibit, there weren't too many additional details present.
        For a lot of the items that I looked at, there weren't many additional details given. Frequently, the artist and subject of artifacts weren't known. As I browsed
        through the U'ista Cultural Center, I noticed that there were a lot of different artifacts that were being displayed. It was amazing how many of these items had 
        very in-depth descriptions. Among the description would frequently be the artist and the cultural significance of the artifact. Because the description tells you 
        a lot about the artifact, it makes it easier to understand the artifact and how they fit into their cultural. This is not frequently the case with the 
        Smithsonian's online exhibit.
    </p>

    <h2>Situational Thinking, Association and Reflection</h2>
    <q>Everywhere you go in the United States, you see images and names of Indians. Think about your own connection to this phenomenon and share it.</q>
    <p>
        As a Pittsburgh native, I've been surrounded by Indian names my whole life. The Allegheny River is either named after the Lenape welhik hane or
         oolikhanna, which means 'best flowing river of the hills' or 'beautiful stream'. The Monongahela River is an Unami word that means "falling banks". 
         Growing up, there was a school that were the 'Indians' as their school mascot. I was surrounded by references to Native Americans as a child,
         but I never really knew anything about them.  
    </p>
</div>