<div class="week-container">
    <h1 class="week-header">Week Two Reflection</h1>
    <h2 id="date">9/11/21</h2>
    <p>For this artifact, I wanted to do option 1 of "Close Reading", which is as follows: </p>
        <q>Directly compare and contrast ICOM's existing 2007 official definition of "museum" with the one newly proposed in July 2019.  
            Evaluate the changes that were made.  Pay attention to the terminology used.  Which words were retained between the two definitions?  
            Which terms were omitted?  Added?   What do you think motivated the changes?  Which definition do you prefer and why -- or, what doesn't 
            either definition do that you think it should?</q>
    <div class="row">
        <div class="column">
            <h1>2007 Definition</h1>
            <q>A museum is a non-profit, permanent institution in the service of society and its development, open to the public, which acquires, conserves, researches, 
                communicates and exhibits the tangible and intangible heritage of humanity and its environment for the purposes of education, study and enjoyment.</q>
        </div>
        <div class="column">
            <h1>2019 Proposed Definitions</h1>
            <q>Museums are democratising, inclusive and polyphonic spaces for critical dialogue about the pasts and the futures. Acknowledging and addressing the 
                conflicts and challenges of the present, they hold artefacts and specimens in trust for society, safeguard diverse memories for future generations and 
                guarantee equal rights and equal access to heritage for all people. <br/> <br/>
                “Museums are not for profit. They are participatory and transparent, and work in active partnership with and 
                for diverse communities to collect, preserve, research, interpret, exhibit, and enhance understandings of the world, 
                aiming to contribute to human dignity and social justice, global equality and planetary wellbeing.</q>
        </div>
    <br/>
    <p style="padding-top: 2rem; margin-top: 1rem; text-align: start; border-color: grey; border-top-style: solid;">
        The first thing I notice between the two definitions is that the 2019 proposed definition is significantly longer. In fact, the 2007 definition contained
        44 words in one paragraph, while the 2019 definition contained 99 words in two paragraphs. Before I tackle the differing diction between the two definitions,
        I want to highlight a website I used for analysis. I used <a style="color: blue" href="https://countwordsworth.com/lettersperword">this site</a> to analyze the two 
        definitions. I'm a computer science major and statistics minor, so I'm always looking to analyze problems from a statistical perspective. One interesting 
        numeric that I found was 'Readability scores', which are metrics I wasn't aware of. 
    </p>
    <div class="column">
        <h1>2007 Definition Readability</h1>
        <img src="https://i.imgur.com/ztNQ9Kp.png"/>
    </div>
    <div class="column">
        <h1>2019 Definition Readability</h1>
        <img src="https://i.imgur.com/xMGA9b6.png"  />
    </div>
    <br/>
    <p style="float: left;">All 5 of these readability metrics use different factors to calculate how readible the text is. All of these metrics need to be looked at in the context
        of other texts that use that metric. For example, a higher Flesh Reading Ease score correlates with easier text to read, whereas a higher Flesh Grade Level
        score correlates with more difficult text to digest (for example, an 18 is an academic paper). Using just those two values, we can <i>quantitatively</i>
        see that the 2019 definition is both easier to read and more interpretable for people new to reading English. </p>
    <p>
        So now we can see that the 2019 definition is easier to understand. Is that something that is desirable for ICOM? I believe that it is. In the second paragraph
        of the 2019 definition, they describe museums as "participatory" and "transparent". Part of being transparent is using diction that is interpretable to a larger
        amount of people. One thing that the 2019 definition emphasizes is equality. The 2007 definition makes no mention of using museums to store heritage for all 
        types of people. I think that it is important to stress that museums <i>should be equal</i> for people of all heritages. It's clear that historically,
        white people have far had an overrepresentation in society and culture. Museums in the past have <b>not</b> been even close to equal across race. In a new definition,
        it seems important to mention that museums <b>should</b> be equal (whether they are or not... that's a different story). </p>
    <p> 
        I would also propose that the use of the word "equal access" in 2019 and "open to the public" in 2007 were entirely inaccurate. Some museums are free to enter, such
        as the Smithsonian's in Washington, D.C. However, the Carnegie Museum in Oakland, PA is inherently not open to the public, as there is a fee to enter.
    </p>
    <p>
        Overall, I can understand why the public's reception to the proposed definition was displeasure. I believe that the 2019 definition is certainly not perfect.
        But I also believe that it has some improvements over the former definition. Mainly, there are many instances of museums that do not abide by the proposed 
        definition. Therefore, ICOM provides an umbrella definition that paints some museums in a light that they shouldn't be in.
    </p>
</div>
</div>