<div class="week-container">
    <h1 class="week-header">Week One Reflection</h1>
    <h2>9/05/21</h2>
    <p>
        For my reflection this week, I chose "Slow Looking". After reading the Slow Looking handout,
        I wanted to reflect on a still-image from Beyoncé and Jay-Z’s APESHIT video that stood out to 
        me using Shari Tishman's Categories to Guide the Eye.
    </p>

    <img src="https://i.imgur.com/J4jf9eb.png"/>
    <ol type="a">
        <li>What colors do you see?</li>
        <li>What shapes or basic forms do you see?</li>
        <li>What lines do you see?</li>
    </ol>
</div>