<div id="go-back-div">
    <a id="go-back" href="/">Back to Table of Contents</a>
</div>

<div class="week-container">
  <h1 class="week-header">Week One Reflection</h1>
  <h2 id="date">9/05/21</h2>
  <p>
    For my reflection this week, I chose "Slow Looking". After reading the Slow
    Looking handout, I wanted to reflect on a still-image from Beyoncé and
    Jay-Z’s APESHIT video that stood out to me using Shari Tishman's Categories
    to Guide the Eye.
  </p>

  <img src="https://i.imgur.com/J4jf9eb.png" />
  <ol type="a">
    <div class="row">
        <div class="column">
            <li class='main-list-entry'>What colors do you see?</li>
            <ul>
                <li class='sub-list-entry'>Warm colors, especially the redish wall.</li>
                <li class='sub-list-entry'>The white in the image really sticks out to me, both in the painting and the headpiece
                    the women are wearing.
                </li>
                <li class='sub-list-entry'>
                    The gold around the frames also stands out.
                </li>
                <li class='sub-list-entry'> 
                    The way that the woman in the painting is brightly lit stands out, almost like a 'spotlight'.
                </li>
            </ul>
        </div>
        <div class="column">
            <li class='main-list-entry'>What shapes or basic forms do you see?</li>
            <ul>
                <li class='sub-list-entry'>The first two forms I see are the only 'alive' models, which are the two girls
                    laying on the floor facing opposite of each other, sitting far apart but connected by a white headpiece.
                </li>
                <li class='sub-list-entry'>The next form I see is directly above the two alive women, which is a painting 
                    of a woman sitting on a sofa and wearing a white dress.
                </li>
                <li class='sub-list-entry'>
                    There are paintings on either side of the painting of the woman, but they are clearly out of focus and 
                    not the prime viewing point for the viewer.
                </li>
            </ul>
        </div>
        <div class="column">
            <li class='main-list-entry'>What lines do you see?</li>
            <ul>
                <li class='sub-list-entry'>The first line that stands out to me is the line connecting the two women on the
                    floor, which creates a symmetrical line.
                </li>
                <li class='sub-list-entry'>The borders of the paintings have very strong lines, luring the viewer to look at
                    the art contained within the frame.
                </li>
                <li class='sub-list-entry'>
                    There appears to be security lines that are closer to the paintings, which are connected on the floor
                    by what is at least 3 visible poles.
                </li>
            </ul>
        </div>
    </div>
  </ol>
</div>
