<div id="go-back-div">
    <a id="go-back" href="/">Back to Table of Contents</a>
</div>

<div class="week-container">
    <h1 class="week-header">Week Five Reflection</h1>
    <h2 id="date">10/02/21</h2>
    <p>My task for this week is as follows:</p>
    <q>Writing A Wall Label.  Take a mundane object or thing that you have at your disposal, or an object that you've collected that matters to you.  
        Imagine you are a curator (perhaps one that lives 100 years from now).  Write three separate wall labels for this object.  A wall label is the text panel 
        that is hung adjacent to an object in a museum display, providing identifying information and often an explanation of the work's significance or contextual
         meaning.  The wall labels you write will imagine this object housed in at least three different types of museums. You choose: a children's museum; an art museum;
          a history museum; a natural history museum; a museum of science and technology; a historic home or site.  How would the wall label differ if your object found 
          itself in a different museum context?  What would be of interest to the museum visitor in each of the different types of institutions you've selected?  
          What would interest a curator or specialist at each of these museums?  How does the museum context shift the meaning of the object? Wall labels are short 
          as museum visitors are inundated with information.  Each label should be no more than 150 words.</q>
    <br/>
    <figure>
        <img style="width: 18rem; border-color: black; border-style: solid;" src="https://i.imgur.com/yVBb1vo.png" />
    </figure>
    <div class="row">
        <div class="column">    
            <h1>Art Museum Label</h1>
            <p>
                This Blue Jay bird was painted in 2020 by artist Kyle Maxwell. Many viewers of this piece speculate that the gray stroke of paint near the bird's 
                left pupil is used to make a commentary on avian aging. At the top of the bird's head, an empty hole in the bird shows how this item may have been
                used 100-years-ago. Basic items have been placed into the gap, such as pencils and a pair of scissors. 
            </p>
        </div>
        <div class="column">    
            <h1>Children's Museum Label</h1>
            <p>
                <b>Behold!</b> This piece of pottery is of a blue bird, similar to the Twitter bird! It was believed to be painted by an artist around the year 2020.
                Objects like this were typically painted with three coats of paint before being thrown into a kiln (a furnace for drying paint)! Some of the blue paint
                near the bird's eyes actually bleeds into the white paint within the eye, giving a strange combo of blue and white. While this may be a mistake from the 
                artist, the observer of this art is now able to view a piece of work of a bird that we will never see in the wild. <b>In fact, </b>part of what makes 
                this work unique are the spots that show this item was painted by an imperfect artist, which is okay!
            </p>
        </div>
        <div class="column">    
            <h1>History Museum Label</h1>
            <p>
                This piece of art is believed to represent a blue jay bird (<i>Cyanocitta cristata</i>). In the orifice of this sculpture, basic households items sit,
                including a pair of scissors, some mechanical pencils, and some pens. In the year 2020, a human from Earth would likely use a cup like this bird 
                displayed here to store items on their desk. The lack of consistent brush strokes seems to indicate that this item was painted by a younger child.
            </p>
        </div>
    </div>
</div>