<div id="go-back-div">
    <a id="go-back" href="/HistoricalArtifacts">Back to Table of Contents</a>
</div>

<div class="week-container">
    <h1 class="week-header">Week Twelve Reflection</h1>
    <h2 id="date">12/3/21</h2>

    <h2>Museums and Accessibility</h2>

    <p>
        For my final artifact, I chose the "Museums and Accessibility" mini-module. I read through these four resources
    </p>
    <ul>
        <li><a style="font-size: small;" href="https://stories.moma.org/what-does-it-mean-to-be-an-accessible-museum-9e9708254dc9?gi=fede0f44193c">“Four Things I Learned When I Started Thinking about Museum Accessibility,” American Alliance of Museums, March 8, 2019.</a></li>
        <li><a style="font-size: small;" href="https://stories.moma.org/what-does-it-mean-to-be-an-accessible-museum-9e9708254dc9"> “What Does it Mean to be an Accessible Museum?” MoMA, November 16, 2017.</a></li>
        <li><a style="font-size: small; text-decoration: none;"> “Museums and the ADA at 25: Progress and Looking Ahead,” in Johnnetta Cole and Laurie L. Lott, eds., Diversity, Equity, Accessibility and Inclusion in Museums (American Alliance of Museums, 2019).</a></li>
        <li><a style="font-size: small; text-decoration: none;" >HAA Major, Museum Studies Minor, 2020. Summary of Honors Thesis project: “Do Touch: Sculpture as a Means for Accessibility in Art Museums."</a></li>
    </ul>
    
    <p>
        After reading through these resources, I decided to take a look at another museum and view what services and accommodations they offer to improve accessibility.
        Earlier in the semester, I visited Soldiers And Sailors Memorial Hall and Museum, and I paid attention to the different accessibility services they offer.
        As I walked through the halls of the museum, there were a few places where accessibility seemed like an issue. Some displays were placed that made a narrow
        walkway, which could make it difficult for some people to get around. Additionally, the main entrance to the building is very grand. As I walked up the 
        long staircase, I noticed many names carved into the bricks in the stairs of military personnel. Another important thing to note about the main entrance staircase is that 
        there is no ramp. This makes it difficult for people with mobility impairments to get to the main entrance. On the website for Soldiers and Sailors, they 
        state "Visitors with physical disabilities can enter the Memorial via our ramp and accessible entrance located on the University Place side of the building
         (west side, or left side if looking from 5th Avenue) via the street-level employee parking lot, with an intercom call box to request assistance." This is 
         massively inconvenient, and it also doesn't give these people a chance to look at the names carved into the bricks. 
    </p>
    <figure>
        <img style="width: 50rem;" src="./././assets/SaS_entrance.jpg" alt="Soldiers and Sailors Grand entrance">
        <figcaption>Soldiers and Sailors Grand entrance</figcaption>
    </figure>

    <p>
        Once you enter the museum, it is actually pretty grand. When I visited, there was a nice winter holidays display right by the main entrance. The museum is 
        laid out chronologically. Once you enter at the main entrance, you will turn left and start at the beginning of American wars. As you walk around, near the 
        entrance, you'll end up at a more modern section of the museum. However, if you enter through the accessibility entrance, you are spat out in the middle of
        a hallway, meaning you not only didn't get the affect of the main entrance, but you also don't get to start at the beginning of the museum. The bathrooms are
        located in the basement, meaning you must take stairs to get to them. For people that can't take stairs, they must take one of two elevators to the third floor.
    </p>
</div>