<div id="go-back-div">
    <a id="go-back" href="/HistoricalArtifacts">Back to Table of Contents</a>
</div>

<div class="week-container">
    <h1 class="week-header">Week Nine Reflection</h1>
    <h2 id="date">11/6/21</h2>

    <h2>Digging Further</h2>

    <span>Two supplementary resources:</span>
    <ul>
        <li><a style="font-size: small;" href="https://americanindian.si.edu/explore/repatriation">Repatriation at the NMAI</a></li>
        <li><a style="font-size: small;" href="https://www.youtube.com/watch?v=P5EQgUDpAEQ">Kwakwaka-wakw people visiting a Sea Monster Mask at the NMAI's Cultural Resources Center</a></li>
    </ul>

    <p>
        I selected these two supplemental resources because they were different from one another and interesting subjects to me. After virtually touring the U'Mista Cultural 
        Center, I was interested in seeing other masks that were made by other people, especially since I took a look at the mask of a Killer Whale in my Week Eight artifact. This
        is unrelated to the course material, but I've always had an interest in "Sea Monsters", and how other cultures represent them in their culture. I selected the NMAI's article
        on Repatriation, which as defined on their website, is "the process whereby human remains and certain types of cultural items are returned to lineal descendants, Indian 
        tribes, and Native Hawaiian organizations." I selected this supplemental resource because it talked about something that came up in class a few times, which was the fact 
        that many people's bodies and items were (unethically) removed from their culture and placed in a museum for people to look at. I was interested in learning more about 
        how or if the National Musem of the American Indian is able to bring back the bodies of people who were removed from their culture.
    </p>

    <p>
        <b>Repatriation Resource</b> <br />
        The first part of this resource starts out with a definition of "repatriation" and then goes into a more detailed explanation of how they implement it, as well as listing
        what constitutes items eligible for repatriation. They mention that repatriation is covered by law: National Museum of the American Indian Act (NMAIA), 20 U.S.C. §80q 
        (Public Law 101–185). The law states that the Smithsonian must repatriate items that follow under a given criteria to the federally-recognized tribes in the U.S. that 
        have a cultural affiliation with the items.     
    </p>
        <ul>
            <li>
                Human Remains
            </li>
            <li>
                Funerary Objects (Associated and Unassociated Funerary Objects)
            </li>
            <li>
                Sacred Objects
            </li>
            <li>
                Objects of Cultural Patrimony
            </li>
            <li>
                Illegally Acquired Items
            </li>
        </ul>
    <p>
        One thing I found interesting was that there is no law requiring objects to be returned to places outside of the U.S. that are affiliated with the items. In the law 
        mentioned above, cultural tribes outside of the U.S. aren't protected, and the NMAI is not required to return items to them. However, the NMAI does have a policy
        that allows for them to deal with other tribes. However, it isn't required by law, and it isn't really clear what the policy is, since it's handled on a case-by-case basis.
    </p>

    <p>
        <b>Kwakwaka-wakw people visiting a Sea Monster Mask at the NMAI's Cultural Resources Center</b> <br />
        In this video, Barb Cranmer and William Wasden Jr. (two Kwakwaka'wakw community curators) talk about the 'Namxxelagayu mask, which is a mask made by the Kwakwaka-wakw people.
        In the video, the curators mention that 'Namxxelagayu was a halibut-like monster that is essential to the origin of the 'Namgis people. The first ancestor of the 'Namgis people 
        was 'Namgwis. During the Great Flood, 'Namxxelagayu carried 'Namgwis to the bottom of the river and saved his life, allowing him to create their civilization.
        After hearing this story, I could see why this mask carried a special meaning to the Kwakwaka-wakw people: it is directly rooted in the origin of their culture. Also in the 
        video, William Wasden Jr. sings a song that he feels is respectful and representative of the Kwakwaka-wakw people. 
    </p>

    <p>One thing struck me as pretty sad during the video, and it was near the end. William talks about how it was sad to see the mask so far from home. However, he said that if 
        they weren't here, who knows what would happen to the mask. It's hard for me to understand what it's like to have historical artifacts from my culture destroyed or stolen.
        It's something I'll never have to struggle with, and I'm very privileged for that. Hearing William speak, it put the situation in more context: many tribes are not given a 
        chance to keep their cultural artifacts, and that has hurt the culture of the affected tribes. He saw the silver lining in the fact that at least the item was preserved
        and not destroyed or removed from a place where they could never see it again. But it still feels like they don't get to display these items in a way that is meaningful to them.

    </p>
</div>