<div id="go-back-div">
    <a id="go-back" href="/">Back to Table of Contents</a>
</div>

<div class="week-container">
    <h1 class="week-header">Week Six Reflection</h1>
    <h2 id="date">10/09/21</h2>

    <p>
        <b>The Rover</b> <br />
        One thing that I found interesting throughout Ludmilla Jordanova’s paper is the assertion that imagination is an essential part of the museum experience. In several 
        parts of the essay, I thought of P.T. Barnum’s museum. The quote, “we have become  accustomed to think of museums in terms of discovery, and there is no category of 
        people as closely associated with the novelty and satisfaction of discovery as children,” makes me think of Barnum’s museum because museums like his were based with 
        the idea that curiosity can lead to questions and discovery.
    </p>
    <p>
        Jordanova brings up imagination again, saying “The 'knowledge' that museums facilitate has the quality of fantasy because it is only possible via an imaginative process.” 
        This lead me to think more about my own perceptions when I visit a museum. When we see an object, there are things that we objectively (sometimes) know. We may know who 
        sculpted a piece of art, or when an item was created, but there is a lot that is left up to the interpretation of the museum-goer. These items that we see in museums existed
        in other contexts, so when these items are removed from their original context and brought to a museum, we have to interpret for ourselves what this item meant and how it 
        makes us feel.
    </p>

    <p>
        <b>The Lecturer</b> <br />

        I found this text to be very interesting because it engaged in a lot of concrete, historical details. Particularly, when Christina Kreps talks about a cultures 
        museums, she will frequently use the culture’s native language to describe something, such as a parsoeroan is part of a sacred enclosure. I believe that this 
        information from the essay could be parsed into a PowerPoint to present the information with visuals. Several times throughout the essay, I ran a Google Image 
        search to get pictures of what other culture’s museums looked like structurally. 
    </p>
    <p>
        The first section of the PowerPoint could be broken up by talking about museums in different regions. I was interested in learning more about the Indigenous museums 
        in Oceania, so having an accompanying slide deck with it that showed different images would be an effective way to transmit information. Later in the essay, Kreps 
        talks about how museums could benefit by being cross-cultural, which is a point that would be important to hit in a lecture format.
    </p>
    <p>
        Kreps talks about how different our Western perception of museums is in comparison to other culture’s museums, which is an interesting subject to me. In a lecture,
         I think a lot of the details about comparing and contrasting Western museums with non-Western counterparts would be important to highlight.
    </p>
</div>