/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #c1e0da42;
  margin-bottom: 3rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  font-size: larger;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: #000000;
}

li {
  width: fit-content;
  margin-top: .3rem;
}

#go-back-div {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#go-back {
  margin-left: auto;
  margin-right: auto;
  background-color:#2e630a;
  border:1px solid #53ff0f;
  border-radius:5px;
  color:#fff;
  padding:10px 10px 10px 10px;

}

.week-header {
  text-decoration: underline;
}
#date {
  border-color: gray;
  border-top-style: dashed;
  border-bottom-style: dashed;
}
.week-container {
  text-align: center;
  border: black;
  background-color: #c1e0da42;
  border-style: double;
  border-radius: 24px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.main-list-entry {
  font-weight: 800;
  font-size: large;
  text-decoration: underline;
  margin-bottom: .8rem;
}

.sub-list-entry {
  font-weight: 100;
  font-size: large;
  margin-bottom: .3rem;
}