<div id="go-back-div">
    <a id="go-back" href="/">Back to Table of Contents</a>
</div>

<div class="week-container">
    <h1 class="week-header">Week Seven Reflection</h1>
    <h2 id="date">10/16/21</h2>

    <h3>Rabbit Hole!</h3>
    <p><b>Starting point:</b> When I was a kid exploring museums, I never really thought about the formal concept of a 'Grand Staircase' in museums. Where did this concept 
        originate from, and why?</p>
    <ol>
        <li>I stumbled upon <a href="https://www.architecturaldigest.com/gallery/most-beautiful-museum-staircases-world">this article</a> which ranks some of the top grand staircases
        in museums in the world. On this list, ranked at number 1 was the Carnegie Museum of Art and Natural History, which was very interesting.</li>
        <li>I couldn't find any formal history or definition of the term Grand Staircase, but I was able to find some pretty cool examples of other Grand Staircases</li>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Grand_Staircase_(White_House)">Grand Staircase in the White House</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Grand_Staircase_of_the_Titanic">The Titanic had a Grand Staircase</a></li>
            <li><a href="https://www.khm.at/en">Kunsthistorisches Museum, Vienna </a></li>
        </ul>
        <figure >
            <img style="width: 45%;" src="https://i.pinimg.com/originals/eb/22/66/eb22668aa94f4e345c688ff2c847a813.jpg" alt="Grand Staircase in the Kunsthistorisches Museum">
            <figcaption>Grand Staircase in the Kunsthistorisches Museum</figcaption>
        </figure>
        <li>I went to Vienna, Austria in 2016, but I never visited this museum, so I was interested in learning more about the history of this particular staircase. It 
            was pretty difficult to find any information about the staircase on the actual website, but I did notice they do not call their staircase a Grand Staircase. 
            They call it a <i>stiegenhaus</i>, whichjust translates to 'staircase'. However, their are a lot of really cool paintings on this staircase.
        </li>
        <li>
            Initially, the paintings were being done by Hans Makart starting in 1881. However, he died in 1884, meaning only the lunette pictures had been finished. Then, in 1885,
            they picked a new artist, Hans Canon! However, he died after a few months... Then, Mihály Munkácsy was hired to finish the ceiling with Apotheosis of the Renaissance.
            He completed this in 1890.
        </li>
        <li>
            The Maler-Compagnie, which was done by Gustav Klimt, Ernst Klimt, and Franz Matsch, was completed in 1891.
        </li>
        <figure >
            <img style="width: 45%;" src="https://i.pinimg.com/originals/ee/57/a1/ee57a10ae082d6f06e353eb7d224d837.jpg" alt="Munkácsy's Apotheosis of the Renaissance">
            <figcaption>Munkácsy's Apotheosis of the Renaissance</figcaption>
        </figure>
    </ol>
    <p><b>
        Conclusion:</b> I wasn't able to discover very much about the origin of the 'Grand Staircase' term, but I was able to get a sense of how many other places (museums 
        specifically) use that term. It was interesting to look through other Grand Staircases across the world, and see how they were done. I visited the Carnegie Museum of
        Art and Natural History a lot as a kid, so I was proud to see how it is perceived as one of the top Grand Staircases in the world.
    </p>
</div>